* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

:root {
  --color-bg: #efe8e8;
  --color-gray: #63676d;
  --color-gray-dark: #30363d;
  --color-primary: #ff5c5c;
  --color-primary-dark: #5456e6;
  --LightBackGround: #ffffff;
  --LightColor: #333238;
  --darkBackGround: #222528;
  --darkColor: #c3c3c6;
  --input-colors: #333238;
  --input-border-color: #3c3b41;
}

::selection {
  color: var(--color-bg);
  background-color: var(--color-primary);
}

::-webkit-scrollbar {
  background-color: #2a2e33;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #5e6266;
  border-radius: 8px;
}


#light {
  background-color: transparent;
  color: #333238;
}

.body {
  font-family: sans-serif;
  font-size: 100%;
  background-image: url('../Images/Dark\ Mode\ background.jpeg');
  background-size: cover;
  line-height: 1.2;
  min-height: 160vh;

  text-shadow: -1px 0px 6px #00ffffc4, 2px 11px 7px black;
  color: aqua;
}

#light .body {
  background-image: url('../Images/Light\ Mode\ background.jpg') !important;
  color: var(--LightColor);
}



a {
  text-decoration: none;
  color: var(--color-primary);
  transition: color 0.3s;
}

a:hover {
  color: var(--color-primary-dark);
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

header nav {
  padding: 1.25rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav h1 {
  text-transform: uppercase;
}

header nav .links {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav .links a {
  margin-left: 1rem;
  color: var(--color-gray-dark);
  font-weight: bold;
}

header nav .links a:hover {
  color: var(--color-primary-dark);
}

.btn {
  background-color: var(--input-colors) !important;
  border: 2px solid #3c3b41 !important;
  padding: 0.4rem 1.2rem !important;
  border-radius: 8px !important;
  color: white !important;
  background: #008b8b !important;
  outline: none !important;
  min-width: 17 rem;
  max-width: 57rem;
  height: 2.7rem !important;

  transition: 0.1s ease-in-out all !important;
}

#light .btn {
  border: 2px solid var(--LightBackGround) !important;

}

#light .btn:focus {
  outline: 1px solid var(--LightColor) !important;
}

.btn:focus {
  outline: 0.15rem solid white !important;
}

/* loadin ------------------------------------------------------- */
.loader {
  width: 40px;
  height: 70px;
  position: relative;
  box-sizing: border-box;
  border: 2px solid #fff;
  margin: auto;
  border-radius: 50% 50% 50% 50% / 25% 25% 25% 25%;
}

#light .loader {
  border: 2px solid var(--LightColor);
}

.loader::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  width: 2px;
  height: 2px;
  background: #fff;
  border-radius: 10px;
  animation: scrollDown 1.5s linear infinite;
}

#light .loader::before {
  background-color: var(--LightColor);
}

@keyframes scrollDown {
  0% {
    top: 15px;
    height: 4px;
    opacity: 1;
  }

  33% {
    top: 15px;
    height: 40px;
  }

  66% {
    top: 50px;
    height: 10px;
    opacity: 1;
  }

  100% {
    top: 56px;
    height: 4px;
    opacity: 0;
  }
}

/* -------------------------------------------------------------------------------------- */

.btn:nth-child(1),
.btn:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  margin: 0;
  position: relative;
  overflow: hidden;
}



.btn:nth-child(1) {
  background: #dc3545;
  position: relative;
  overflow: hidden;
  z-index: 100;
}

.btn:nth-child(2) {
  background: var(--color-primary-dark);
  position: relative;
  overflow: hidden;
  z-index: 100;
}

.btn:nth-child(1)::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #920412;
  transform-origin: bottom right;
  bottom: 0;
  right: 0;
  transform: scale(0);
  z-index: -1;
  border-top-left-radius: 20px 10px;
  transition: .5s;
}

.btn:nth-child(1):hover.btn:nth-child(1)::before {
  transform: scale(20);
  transform-origin: bottom right;
}

.btn:nth-child(2)::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: darkblue;
  transform-origin: bottom right;
  bottom: 0;
  right: 0;
  transform: scale(0);
  z-index: -1;
  border-top-left-radius: 20px 10px;
  transition: .5s;
}

.btn:nth-child(2):hover.btn:nth-child(2)::before {
  transform: scale(20);
  transform-origin: bottom right;
}


/* 920412 */
.btn-danger {
  filter: hue-rotate(-10deg);
}

main {
  padding: 2rem 1rem;
  overflow: hidden;
  min-height: calc(100vh - 129.6px);
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

}

#light .posts {
  color: var(--LightColor) !important;
}

.post {
  background-color: var(--darkBackGround) !important;
}

#light .post {
  background-color: var(--LightBackGround) !important;
}

.posts .post {
  width: 30%;
  backdrop-filter: blur(7px);
  margin-bottom: 2rem;
  border: 1px solid;
  padding: 20px;
  box-shadow: 1px 1px 2px 1px aqua;
  border-radius: 6px;
  overflow: hidden;
  background: transparent;
  transition: 0.5s all ease;
  height: 362px;
  /* transition-delay: 0.5s; */
}

@media (max-width: 990px) {
  .posts .post {
    width: 46%;
  }
}

@media (max-width: 580px) {
  .posts .post {
    width: 100%;
  }
}

.post > a > img {
  width: 100%;
  height: 12rem;
  margin: 0.5rem 0;
  object-fit: cover;
  border: 1px solid #4e4c53;
  border-radius: 5px;
  transition: all 0.3s;
  filter: brightness(75%);
}

#light .post > a > img {
  border: 1px solid #a2a1a3;
}

.post > a > img:hover {
  transform: translateY(-5px);
  filter: brightness(100%);
}

.posts .post .post-author {
  font-size: 0.875rem;
  margin: 0.25rem 0;
  color: var(--color-gray);
  padding: 4px;
}

.posts .post h3 {
  margin-top: 0.5rem;
  letter-spacing: 0.05rem;
  padding: 4px;
}

a:hover {
  color: none;
  text-decoration: none;
}

/* ----------------------------------------------------------------------------------- */


.p_2 {
  font-size: 14px;
  white-space: nowrap;
  position: absolute;
  top: -25px;
  right: 50%;
  transform: translateX(50%);
  color: #fff;
  text-shadow: none;
  font-family: initial;
  letter-spacing: 2Px;
  text-shadow: 1px 1px 1px black, 1px 1px 11px aqua;
  opacity: 0;
}

.bottom_div {
  position: absolute;
  width: 25%;
  height: 4px;
  bottom: 0;
  background: crimson;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 13px;
  z-index: 100;
  box-shadow: 1px 1px 4px 2px crimson;
}

#light .bottom_div {
  background-color: var(--darkBackGround);
  box-shadow: none;
}



.posts .post:hover {
  transition: .5s all ease;
  position: relative;
  /* height: 403px;  */
}

.parent_span {
  position: absolute;
  bottom: 3px;
  width: 2px;
  background: aqua;
  height: 0px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  box-shadow: 0px 1px 6px aqua;
  transition: .4s;
  transition-delay: 0.4s;
}

.posts .post:hover .parent_span {
  height: 37px;
  transition: .4s;
  transition-delay: .3s;
}

.posts .post:hover .parent_span .child_1 {
  transform: rotate(-45deg);
  transition: .3s;
  transition-delay: 0.5s;
}

.posts .post:hover .parent_span .child_2 {
  transform: rotate(45deg);
  transition: .3s;
  transition-delay: 0.5s;
}

.posts .post:hover .p_2 {
  transition: 1s;
  transition-delay: 0.5s;
  opacity: 1;
}

.child_1 {
  width: 2px;
  height: 14px;
  position: absolute;
  background: aqua;
  top: 0px;
  right: 0px;
  transform: rotate(0);
  transform-origin: top right;
  border-radius: 11px;
  box-shadow: 0px 1px 6px aqua;
  transition: .3s;
}

.child_2 {
  width: 2px;
  height: 14px;
  position: absolute;
  background: aqua;
  top: 0px;
  transform: rotate(0);
  transform-origin: top left;
  border-radius: 11px;
  box-shadow: 0px 1px 6px aqua;
  transition: .3s;
}



#light .parent_span,
#light .child_1,
#light .child_2 {
  width: 4px;
  text-shadow: none;
  background-color: #05d1d1;
  color: var(--LightColor) !important;
  box-shadow: none !important;
}

#light .p_2 {
  text-shadow: none;
  font-weight: bolder;
  font-size: 1rem;
  color: var(--LightColor) !important;
  box-shadow: none !important;
}

.bi-heart-fill {
  display: none;
}

.bi {
  cursor: pointer;
}

.active .bi-heart-fill {
  display: block;
  transform: scale(1.1);
  transition: .3s ease;
}

.active .bi-heart {
  display: none;
}

/* .p_2 {
font-size: 14px;
white-space: nowrap;
position: absolute;
top: -25px;
right: 50%;
transform: translateX(50%);
color: #fff;
text-shadow: none;
font-family: initial;
letter-spacing: 2Px;
text-shadow: 1px 1px 1px black, 1px 1px 11px aqua;
} */

.div_react {
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: space-between;
}

#light .div_react {
  color: var(--LightColor);
}

.Like_Holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1rem;

}

.Like_Holder:nth-child(1) {
  cursor: pointer;
}

.heart {
  font-size: 1.7rem;
  transition: 0.25s ease-in-out all;
}

.div_profile {
  display: flex;
  align-items: center;
  gap: 13px;
  transform: translate(0px, -10px);
}

.div_profile img {
  width: 50px;
  border-radius: 50%;
  height: 50px;
  object-fit: cover;
}







footer {
  background-color: var(--color-gray-dark);
  padding: 1rem;
  color: var(--color-bg);
  text-align: center;
}

footer * {
  opacity: 0.75;
  font-weight: normal;
  letter-spacing: 0.5rem;
  font-size: 1rem;
}

.post-details {
  padding: 0vh 1rem;
  height: 130vh;
}

.post-details-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0rem;
}

.post-details-dev-img>div {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
  gap: 0.5rem;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .post-details-title {
    flex-direction: column;
  }
}

.post-details-title h1 {
  font-size: 1.5rem;
}

.post-details-title .btn {
  margin-left: 1rem;
}

.post-details-dev-img {
  position: relative;
}

.post-details-dev-img>button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  font-weight: bolder;
  border: none;
  border-radius: 0.3rem;
  display: none;
  background-color: var(--color-primary-dark);
  color: var(--color-bg);
  z-index: 100;
  overflow: hidden;
}

.post-details-dev-img>button::after {
  content: '';
  position: absolute;
  top: 37%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 10px;
  background: darkblue;
  transform-origin: center;
  transform: scale(0);
  z-index: -1;
  border-radius: 20px;
  transition: .5s ease-in-out all;
}

.post-details-dev-img>button:hover::after {
  transform: scale(10);
}

.post-details-img {
  border-radius: 7px;
  width: 100%;
  height: 17rem;

  cursor: zoom-in;
  object-fit: cover;
  transition: 0.25s ease-in-out all;
}

.post-details-dev-img-hidden {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* height: 400vh; */

  padding: 1vh;
  background-color: #30363dc2;
  z-index: 200;
  display: none;
}

.post-details-dev-img-hidden>div {
  position: relative;
  width: 100%;
  /* height: 400vh; */
}

.post-details-dev-img-hidden>div>button {
  position: absolute;
  right: 2vh;
  top: 2vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 4vh;
  color: var(--color-bg);
  border: none;
  cursor: pointer;
  background: none;
  z-index: 201;
}



.post-details-img-hidden {
  position: relative;
  z-index: 400;
  left: 50%;
  top: 52vh;

  opacity: 0;
  transform: translate(-50%, -50%);

  border-radius: 7px;
  max-width: 100%;
  max-height: 25%;
  object-fit: contain;

  transition: 0.5s ease-in-out all !important;
}

.post-details-body {
  color: var(--darkColor);
  width: 100%;
  padding: 1.5rem;
  margin: 1rem 0;
  font-size: 1.2rem;
  line-height: 1.7;
}

.create-post {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.create-post form {
  margin: 10% auto;
  margin-bottom: 100%;

  background-color: var(--color-gray-dark);
  color: var(--color-bg);
  max-width: 45rem;
  border-radius: 7px;
  padding: 1.5rem 1rem;

  display: grid;
  grid-template: auto / 1fr 1fr;
  gap: 1rem;
  transition: 0.25s ease-in-out all;

}

#light .create-post form {
  background-color: var(--LightBackGround);
  color: var(--LightColor);
}

.create-post>form>div {
  display: flex;
  flex-direction: column;
}

.create-post>form>div:nth-child(1) {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-post>form>div:nth-child(1)>span {
  position: relative;
  /* overflow: hidden; */
}

.create-post>form>div:nth-child(1)>span>img {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}

.create-post>form>div:nth-child(1)>span>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-post>form>div:nth-child(1)>input {
  display: none;
}

.create-post>form>div:nth-child(1)>span:nth-child(1) {
  width: 90%;
  height: 18rem;
  border: 3px dotted var(--input-border-color);
  background-color: var(--input-colors);
  color: var(--darkColor);
  border: 3px dotted #222528;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

#light .create-post>form>div:nth-child(1)>span:nth-child(1) {
  background-color: #efefef;
  color: var(--LightColor);
}

.uploadIcon {
  font-size: 2rem;
}

.create-post>form>div>label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.create-post>form>div>textarea {
  max-width: 21rem;
  min-width: 10rem;
  min-height: 5rem;
  max-height: 10rem;
}

.create-post>form>div>textarea,
.create-post>form>div>select,
.create-post>form>div>input {
  margin-bottom: 1rem;
  border: none;
  outline: none;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  color: var(--darkColor);
  background-color: var(--input-colors);
  border: 2px solid var(--input-border-color);
}

#light .create-post>form>div>textarea,
#light .create-post>form>div>select,
#light .create-post>form>div>input {
  color: var(--LightColor);
  background-color: var(--LightBackGround);
}

.create-post>form>button {
  align-self: center;
  grid-column: 2 span;
}



@media screen and (max-width: 695px) {
  .create-post>form>div:nth-child(1)>span:nth-child(1) {
    height: 15rem;
  }

  .create-post form {
    grid-template: auto / 1fr !important;
  }

  .create-post>form>div>textarea {
    max-width: 100%;
  }

  .create-post>form>button {
    grid-column: 1 span;

  }
}

.Loading-Icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-weight: bolder;
  text-shadow: 0 0 1px white;
}

.not_found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: 3px;
  font-family: initial;
  color: #fff;
}

.div_animation {
  position: absolute;
  bottom: 0;
}

.div_animation span {
  animation: totop 3s infinite;
}

@keyframes totop {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }

  100% {
    transform: translateY(-600px) scale(0) rotate(180deg);
    opacity: 0;
    display: none;
  }
}

.post_text {
  border: 2px solid;
  border-top-color: currentcolor;
  border-top-style: solid;
  border-top-width: 2px;
  border-top: none;
  border-bottom: none ;
  height:13rem;
  padding: 1rem;
  backdrop-filter: blur(12px) brightness(1.2);
}

.post_text h3 {
  color: white !important;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px black;
}

.post_text p {
  color: #fff !important;
  text-shadow:1px 1px 1px #000 !important;
  width: 100%;
  padding: 1.5rem 0;
  margin: 1rem 0;
  font-size: 1rem;
  line-height: 1.7;
  text-shadow: none;
}
#light .post_text h3{
  color:#000 !important;
}
#light .post_text p{
  color:#000 !important;
  text-shadow: none;
  letter-spacing: 2px;
}
#light .not_found{
  color:#000;
}
#light .div_animation span{
  color:#000 !important;
}
#light .div_profile img {
  outline: 1px solid #000;
}



/* Comment Section START */
.commentPlace{

  padding: 1rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  backdrop-filter: blur(12px) brightness(1.2) !important;
  border: 2px solid #00ffff;
  border-top:none ;
  border-top: none ;
  border-radius: 0 0 10px 10px;
}

#light .commentPlace {
  border: 2px solid var(--input-border-color);
  border-top: none;

}

#light .commentPlace > div:nth-child(3){
  border-top: 2px solid var(--input-border-color);

}

.commentPlace > div:nth-child(3){
  border-top: 2px solid #00ffff;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.commentPlace > div:nth-child(3) > form{
  position: relative;
  width: 100%;
  display: flex;
}

.commentPlace > div:nth-child(3) > form > input[type='text']{
  width: 100%;
  height: 50px !important;
  color: white;
  background-color: #2a2e33;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 1.5vh 8vh 1.5vh 2vh;

  transition: 0.25s ease-in-out all;
  transition-duration: 0.25s;
}

.commentPlace > div:nth-child(3) > form > button{
  position: absolute;
  right: 1%;
  top: 50%;
  transform: translate(0 , -50%);
  padding: 0.2rem 0.4rem;
  border-radius: 8px;

  display: flex;
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--LightBackGround);

  cursor: pointer;
  z-index: 100;
  transition: 0.1s ease-in-out all;
}

#light .commentPlace > div:nth-child(3) > form > button {
  color: var(--LightColor);
}

.commentPlace > div:nth-child(3) > form > button:hover{
  background-color: #ffffff;
  color: #2a2e33;
}

#light .commentPlace > div:nth-child(3) > form > button:hover {
  background-color: var(--darkBackGround);
  color: var(--darkColor);
}

.commentPlace > div:nth-child(3) > form > button:active{
 font-size: 2.2rem;
}

#light .commentPlace > div:nth-child(3) > form > input[type='text']{
  background-color: var(--LightBackGround) !important;
  color: var(--LightColor) !important;
}

.commentPlace > div:nth-child(4) > div > div{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 170px;

}

.commentPlace > div:nth-child(4) > div{
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.commentPlace > div:nth-child(4) > div > div:nth-child(2){
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff !important;
  text-shadow: 1px 1px 1px #000 !important;
}

#light .commentPlace > div:nth-child(4) > div > div:nth-child(2){
  color: var(--LightColor) !important;
  text-shadow: none !important;

}

.DeleteComment{
  padding: 0.2rem 0.4rem;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  background: #2a2e33;
  border: none;
  font-size: 2rem;
  color: var(--LightBackGround);

  cursor: pointer;
  z-index: 100;
  transition: 0.1s ease-in-out all;
}

.DeleteComment:hover{
  background-color: #ffffff;
  color: #2a2e33;
}

/* Comment Section END */
